/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Main style rules */
body {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: #5c5c5c;
}

/* Content style rules */
header {
    background-color:  #494949;
    color:#972020;
}
.title {
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
    font-family: 'Lobster';
}
.nav--bar {
    font-family: 'Shadows Into Light';
    color: #eeeeee;
}
.nav--hamburguer {
    width: 44px;
    height: 44px;
    margin-bottom:2px;
    line-height:44px;
    text-align: center;
}
.fas {
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
}
.nav--hamburguer:hover {
    cursor: pointer;
}
.nav--list {
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    left: -100%;
    transition: all .5s;
    height: 0;
}
.show {
    left: 0;
    height: fit-content;
}
.nav--elements {
    margin: 5px auto;
    width: 150px;
    height: 44px;
    border-radius: 10px;
    margin-bottom:2px;
    line-height:44px;
}
.nav--elements__span {
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
}
.nav--elements:hover{
    cursor: pointer;
    border: 1px solid #eeeeee;
    background-color: rgba(240, 240, 240, 0.2);
}
.main--section {
    min-height: 100vh;
    overflow: scroll;
}
.svg--content {
    position: absolute;
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.main--content {
    position: relative;
    min-height: 100vh;
    z-index: 2;
}
.main--buttons {
    position: fixed;
    z-index: 10;
    top: 89%;
    right: 10px;
}
.button {
    border: none;
    outline: none;
    background-color: #eeeeee;
    min-width: 44px;
    min-height: 44px;
    border-radius: 15px;
    margin: 0 10px;
    font-family: 'Lobster';
    color:  #494949;
}
.button:hover {
    cursor: pointer;
    background-color: #acacac;
    border: 2px solid #494949;
}

@media screen and (min-width: 780px) {
    .nav--hamburguer {
        display: none;
    }
    .nav--list {
        display: inline-flex;
        left: 0;
        height: fit-content;
    }
}